body{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(50, 50, 50);
}
.header{
    color: crimson;
    border-bottom: 0.1rem white solid;
    background-color: grey;
    height: 3rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}
.left{
    margin-left: 3rem;
    /* border: 1px white solid; */
    width: 20rem;
    text-align: left;
    padding-left: 0.2rem;
    min-height: 2rem;
    font-size: 2rem;
}
.right{
    margin-right: 3rem;
    /* border: 1px white solid; */
    padding-right: 0.2rem;
    font-size: 2.5rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    
}
.navigation{
    background-color: grey;
    border-bottom: 0.1rem white solid;
    height: 2rem;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 3rem;
    font-size: 1.1rem;
    font-family: "Lato", serif;
}
.question_list{
    display: flex;
    background-color: rgb(0, 129, 129);
    border-right: 0.1rem white solid;
    border-bottom: 0.1rem white solid;
    flex-direction: column;
    max-width: 20rem;
    height: 100%; 
    position: fixed;
    top: 3rem;
    left: 12rem ;
    margin-top: 2rem;
    font-size: 1rem;
    border-left: 0.1rem white solid;
}
.main{
    display: flex;
    background-color: grey;
    margin-left: 12rem;
    margin-right: 10rem;
    border-right: 1px white solid;
    justify-content: flex-start;
    width: 80rem;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: flex-start;
}
.content{
    background-color: rgb(0, 129, 129);
    /* height: 100rem;  */
    /* ti chinh height ve max height */
    height: 400rem;
    width: 64.9rem;
    padding-left: 1rem;
    margin-left: 20.1rem;
    margin-top: 5rem; 
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}
ol{
    list-style-position: inside;
}
.quest{
    border-bottom: 0.1rem white solid;
    text-align: left;
    padding: 0.55rem;
}
.title{
    font-size: 5rem;
    padding-top: 1.5rem;
    font-weight: bold;
}
.context{
    font-size: 1.3rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    color: rgb(85, 255, 232);
}
#answ1{
    max-width: max-content;
    padding-top: 5rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    /* margin-top: -3rem; */
    scroll-margin-top: -2rem;
}
#answ5{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ2{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    /* margin-top: -3rem; */
    scroll-margin-top: 3rem;
}
#answ3{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ4{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ13{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ6{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ7{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ9{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ12{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ8{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ11{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ10{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
.screenshot{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: -2rem;
}
.screenshot1{
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
    padding-top: 2rem;
    /* padding-bottom: -3rem; */
    padding-left: -10rem;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 0, 179);
  text-decoration: none;
}
a:active {
  color: rgb(9, 255, 0);
  text-decoration: none;
}