/* As you said in class that we should not repeating the question-to-answer arrangement, I decided to write everything in a format similar to a news webpage.
Since the main content is too short to put in a box with long width, I decided to use 2 side bars so that the content would be fixed in the middle of the page,
which would enhance visual attention from viewers. The reference is after this website layout: https://www.hltv.org/
Also, when testing different layouts, I decided to use only the outer border as it makes the whole page look more solid. */

/* For the color palette, I want a color palette that can reflect the vibe of the original website, so I looked for some bright color palettes.
I mixed and tested the colors from 4 palette to get the best look.
Links of the color palettes:
https://coolors.co/palette/f75590-fce4d8-fbd87f-b5f8fe-10ffcb
http://coolors.co/palette/73fbd3-44e5e7-59d2fe-4a8fe7-5c7aff
https://coolors.co/palette/ef767a-456990-49beaa-49dcb1-eeb868
https://coolors.co/palette/0892a5-06908f-0ca4a5-dbb68f-bb7e5d */
body{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    background-color: #dbb68f;
    /* background-color: #ecebe4; */
}
.header{
    color: whitesmoke;
    background-color: #ffb13c;
    border-top: 0.1rem whitesmoke solid;
    border-left: 0.1rem whitesmoke solid;
    border-right: 0.1rem whitesmoke solid;
    height: 3rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 80rem;
    margin-left: 12rem;
    margin-right: 15rem;
    /* border-radius: 1rem; */
}
.left{
    display: flex;
    margin-left: 3rem;
    /* border: 1px whitesmoke solid; */
    max-width: fit-content;
    /* text-align: left; */
    padding-left: 0.2rem;
    max-height: fit-content;
    font-family: "Jersey 15", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    gap: 0.3rem;
    align-items: flex-end;
    justify-content: center;
    padding-top: -10rem;
    margin-top: -0.5rem;
    text-align: bottom;
    /* For the left side, I decided to use this pixelated style of font to make it stand out and eventhough it has nothing to do with the content or the theme of the page 
    and its contradiction with the right side, I still feel like it've created a balance with the other side (and an interesting look in general).*/
}
.right{
    margin-right: 3rem;
    /* border: 1px whitesmoke solid; */
    padding-right: 0.2rem;
    font-size: 2.2rem;
    font-family: "Coiny", sans-serif;
    font-weight: 400;
    padding-top: -2rem;
    /* I want to put something with a round border, which is similar to the original website's title. Therefore I chose this kind of bubbly font.*/
    
}
.navigation{
    color: whitesmoke;
    background-color: #F75590;
    /* border: 0.1rem white solid; */
    border-left: 0.1rem whitesmoke solid;
    border-right: 0.1rem whitesmoke solid;
    height: 2rem;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 80rem;
    position: fixed;
    top: 3rem;
    font-family: "Coiny", sans-serif;
    font-weight: 50;
    margin-left: 12rem;
    margin-right: 15rem;
    /* And I also use this font for the navigation bar due to similar reason. */

}
/* Since my page wil be displayed as a news webpage, I decided to put the question list on the side and use jump link to connect them with their answers.
I refered this to the W3schools website layout as I found this position highly logical and work with my idea of using jump link.
Also, I want the header, the navigation bar and the question list to be still visible when viewers scroll down, so I looked into a way called "On Scroll Header" on W3schools 
(https://www.w3schools.com/howto/howto_js_sticky_header.asp) and applied it to the other two. 
However, I had to overcome the challenge of overlaping element so I tested a few margin and padding and position over and over until I get the best result.  */
.question_list{
    display: flex;
    /* background-color: #00a896; */
    background-color: #4a8fe7;
    /* border-right: 0.1rem white solid; */
    border-left: 0.1rem whitesmoke solid;
    border-bottom: 0.1rem whitesmoke solid;
    flex-direction: column;
    max-width: 20rem;
    height: 100%; 
    position: fixed;
    top: 3rem;
    left: 12rem ;
    margin-top: 2rem;
    font-size: 0.85rem;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}
.main{
    display: flex;
    /* background-color: grey; */
    margin-left: 12rem;
    margin-right: 10rem;
    /* border-right: 1px white solid; */
    justify-content: flex-start;
    width: 80rem;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: flex-start;
    border-bottom: 0.1rem whitesmoke solid;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    /* As the header and navigation bar are all in sans-serift font, 
    I use the similar for the main text so that the webpage looks more consistent. */
}
.content{
    /* background-color: #00a896; */
    background-color: #49BEAA;
    height: 400rem; 
    /* At first this was height: 100%; to stretch the height according to the browser's size 
    but it didn't work well with the jump link for the last question so I had to put the biggest number possible. */
    width: 64.8rem;
    padding-left: 1rem;
    margin-left: 20rem;
    margin-top: 5rem; 
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    border-right: 0.1rem whitesmoke solid;
    color: whitesmoke;
}
ol{
    list-style-position: inside;
}
.quest{
    /* border-bottom: 0.1rem whitesmoke solid; */
    text-align: left;
    padding: 0.48rem;
    padding-bottom: 0.4rem;
    padding-top: 0.435rem;
    /* At first I still kept the inner border so the list looked very tight and confusing and I had to adjust the padding a lot 
    to not make the question exceed the bottom line of the brower as the list was in fixed position.
    After decciding to get rid of the inner border, I had to balance among the padding so that it didn't leave any space behind.
    That's why the number is weirdly odd.*/
}
.quest13{
    border-bottom: 0.05rem whitesmoke solid;
    text-align: left;
    padding: 0.48rem;
    padding-bottom: 0.53rem;
    padding-top: 0.5rem;
}
.title{
    font-size: 4.5rem;
    padding-top: 1rem;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
.context{
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    /* color: rgb(85, 255, 232); */
}
.website{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}
#answ1{
    max-width: max-content;
    padding-top: 4rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    /* margin-top: -3rem; */
    scroll-margin-top: -1.5rem;
}
/* There's a scroll-margin-top because when using jump link the first line of the answer got overlaped by the fixed navigation bar.
So I looked for a solution and I learned to use scroll-margin-top on W3schools.
The number may vary in each answer for the same distacne from the first line to the navigation bar after the jump. */
#answ5{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ2{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    /* margin-top: -3rem; */
    scroll-margin-top: 3rem;
}
#answ3{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ4{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ13{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ6{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ7{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ9{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ12{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ8{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ11{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
#answ10{
    max-width: max-content;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 1.1rem;
    scroll-margin-top: 3rem;
}
.screenshot{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: -2rem;
}
.screenshot1{
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
    padding-top: 3rem;
    padding-bottom: -3rem;
    padding-left: -10rem;
    /* justify-content: space-around; */
}
/* At first I didn't plan to style the link but it comes with underline and blue after activated, so it contradict the whole look heavily.
Therefore I looked in to "CSS Style Links" (https://www.w3schools.com/css/css_link.asp) and copy a part of code about "Styling Links Depending on State" on W3schools. 
I only changed the color to my prefered ones.*/
a:link {
  color: whitesmoke;
  text-decoration: none;
}
a:visited {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  /* color: rgb(255, 0, 179); */
  color: rgb(9, 255, 0);
  text-decoration: none;
}
a:active {
  color: yellow;
  text-decoration: none;
}