
body{
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    background-color: #2b2b2b;
}
.navigation{
    color: whitesmoke;
    background-color: #F75590;
    border-right: 0.1rem whitesmoke solid;
    height: 100vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    /* padding-top: 3rem;  */
    /* padding-left: 3rem; */
}
.logo{
    padding-left: 1rem;
    padding-top: 2rem;
    font-size: 1.5rem;
}
.under{
    padding-left: 2rem;
    font-size: 2rem;
}
.home{
    padding: 1rem;
    padding-top: 4rem;
}
.about{
    padding: 1rem;
}
.music{
    padding: 1rem;
}
.shop{
    padding: 1rem;
}
.header{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    background-color: aqua;
    color: black;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    /* justify-content: flex-start; */
    /* justify-content: center; */
}
.controller{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    padding-left: 3rem;
    /* border: white solid 0.1rem; */
    width: 10rem;
}

#middle-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#cover-img{
    padding-top: 1rem;
}
#info-progress{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0.01rem;
}
#info-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#progress-bar-container{
    width: 20rem;
    height: 0.5rem;
    background-color: #282828;
    overflow: hidden;
}
#progress-bar-fill{
    display: block;
    height: 0.5rem;
    background-color: rgb(0, 102, 255);
    width: 0;
    transition: width 0.3 ease;
}
.volume-lyric{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5rem;
    align-items: baseline;
}
.container{
    display: flex;
    height: 100vh;
    width: 85vw;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

.main{
    background-color: #aeaeae;
    height: 90%;
    width: 100%;
    /* padding-top: 5rem; */
    /* padding-left: 1rem; */
    justify-content: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border-right: 0.1rem whitesmoke solid;
    color: whitesmoke;
}
.left{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    border: 0.1rem white solid;
}
.title{
    display: flex;
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 3rem;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
#album-cover-img{
    border: 0.1rem white solid;
}
.info{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}
.album-name{
    font-size: 4rem;
}
.artist-name{
font-size: 1.5rem;
padding-top: 1rem;
}
.right{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border: 0.1rem white solid;
    width: 25%;
    height: 100%;
}
#info-artist{
    display: none;
}
#title-name{
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem ;
}
.about-artist{
    font-size: 1.25rem;
    padding: 1rem;
    line-height: 2rem;
}
.lyric{
    padding: 1rem;
}
.playlist{
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
}

.track{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.info-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.track-info{
padding-left: 1rem;
}
.track-name-1{
    font-size: 1.25rem;
}
.track-name-2{
    font-size: 1.25rem;
}
.track-name-3{
    font-size: 1.25rem;
}
.track-name-4{
    font-size: 1.25rem;
}
 .feature-1{
    font-size: 1rem;
    padding-left: 1rem;
 }
  .feature-2{
    font-size: 1rem;
    padding-left: 1rem;
 }
  .feature-3{
    font-size: 1rem;
    padding-left: 1rem;
 }
  .feature-4{
    font-size: 1rem;
    padding-left: 1rem;
 }
