body{
    background-color: rgb(43, 43, 43);
    min-height: 100vh;
    overflow-x: hidden;
}

.parallax{
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 800px;
}

.section1{
    width: 100vh;
    height: 100vh;
}

h1{
    font-size: 80px;
    color: yellow;
    top: 16rem;
    /*right: 10rem; */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

h2{
    font-size: 50px;
    color: yellow;
    top: 24rem;
    /* left: 50rem; */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

/* h3{
    font-size: 100px;
    color: yellow;
} */


.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    height: 100vh;
}

#background{
    z-index: 1;
    transform: translateZ(100px);
    animation: backgroundPositionZ linear forwards;
    animation-timeline: view();
    animation-range: entry 20% exit 0%;
}
#midground{
    z-index: 3;
    transform: translateZ(-70px);
    animation: midgroundPositionZ linear forwards;
    animation-timeline: view();
    animation-range: entry 20% exit 0%;
}
#foreground{
    z-index: 5;
    transform: translateZ(200px);
    animation: foregroundPositionZ linear forwards;
    animation-timeline: view();
    animation-range: entry 20% exit 0%;
}

/* parallax image animation */
@keyframes backgroundPositionZ {
    from{
        transform: translateZ(100px);
    }
    to{
        transform: translateZ(0px);
    }
}
@keyframes midgroundPositionZ {
    from{
        transform: translateZ(-70px);
    }
    to{
        transform: translateZ(0px);
    }
}
@keyframes foregroundPositionZ {
    from{
        transform: translateZ(200px) ;
    }
    to{
        transform: translateZ(0px) ;
    }
}

#big-title{
    position: absolute;
    z-index: 7;
    transform: translateZ(0px);
    opacity: 1;
    animation: Title linear forwards;
    animation-timeline: view();
    animation-range: entry 100% exit 0%;
}
#smaller-title{
    position: absolute;
    z-index: 7;
    transform: translateZ(0px);
    opacity: 1;
    animation: Title linear forwards;
    animation-timeline: view();
    animation-range: entry 0% exit 99%;
}
/* parallax title animation */
@keyframes Title {
    from{
        transform: translateZ(0px);
        opacity: 1;
    }
    to{
        transform: translateZ(-900px);
        opacity: 0;
    }
}
.second-part{
    color: rgb(255, 255, 255);
    position: relative;
    background: rgb(15, 15, 15);
    padding: 100px;
}