body {
  margin: 0 auto;
  font-size: 1.3rem;
}
h1 {
  color: aqua;
  font-size: 200px;
  text-align: center;
}
p {
  border: 1px crimson;
  background-color: rgb(35, 58, 58);
  min-height: 200px;
  margin: 1rem 1rem 1rem 1rem;
  padding: 10px;
  border-top: 2px red dashed;
}
.vcenter {
  line-height: 200px;
}
span {
  color: red;
  font-size: 100px;
  display: none;
  font-weight: bold;
}
