body {
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
}
h1 {
  font-size: 2.5rem;
}
p {
  width: 400px;
  margin: 0 auto;
  border: 1px solid crimson;
  background-color: aqua;
  min-height: 200px;
  margin-bottom: 30px;
  padding: 20px;
  border-top: 2px red dashed;
}
.vcenter {
  line-height: 200px;
}
span {
  color: red;
  font-size: 100px;
  display: block;
}
